.main-container {
    border-radius: 16.72px;
    padding: 1rem;
    width: 400px;
    overflow: auto;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: rgba(248, 105, 145, 0.6);
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
    .p-inputswitch-slider {
    background: rgba(197, 80, 113, 0.6);
}

.p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: linear-gradient(219.64deg, #f480b2 27.32%, #ff4057 100%);
}

.custom-pink-bg {
    background: #ff6c93;
}
