.main-container {
    margin: 1rem;
    height: 500px;
    overflow: auto;
}

.logo-wrapper {
    background-color: var(--matte-transparent);
    border-radius: 10px;
    padding: 1.5rem 7rem;
}

.text-gradient {
    background: -webkit-linear-gradient(
        90deg,
        #8919ce 0%,
        #861ccf 2.08%,
        #ff00d6 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-gradient,
.button-gradient:focus,
.button-gradient:hover,
.button-gradient:enabled:active {
    min-width: 118px;
    border: none !important;
    box-shadow: none !important;
    background: -webkit-linear-gradient(
        90deg,
        #8919ce 0%,
        #861ccf 2.08%,
        #ff00d6 100%
    ) !important;
}

.wrapper {
    background-color: var(--matte-transparent);
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
}
