.settings-button {
    background: rgba(83, 83, 83, 0.71);
    border-radius: 8.3113px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10000;
    height: auto;
    width: auto;
    padding: 10px 12px;
    cursor: pointer;
    border: none;
}

.settings-button:focus-visible {
    border: none;
    outline: none;
}

.main-clock {
    position: relative;
    height: fit-content;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    font-weight: 600;
    font-size: 137.526px;
    font-family: sans-serif;
    min-height: 230px;
    line-height: 166px;
    color: rgba(83, 83, 83, 0.68);
}

.central-element {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0px 20px;
}

.search-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 584px;
    background: rgba(255, 255, 255, 0.47) !important;
    backdrop-filter: blur(8.5px) !important;
    height: 65px !important;
    border-radius: 71px !important;
    border: none !important;
    box-shadow: unset !important;
    padding: 0px 20px;
}

.search-bar {
    z-index: 1;
    color: black !important;
    border: none;
    background: none;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    padding-left: 1rem;
}

.search-bar:focus,
.search-bar:focus {
    outline: none;
}

.search-icon {
    cursor: pointer;
}

.bookmarks-container-wrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.bookmarks-container {
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.bookmark-wrapper {
    background-color: white;
    background-size: 78px 4242px;
    background-image: url("https://ssl.gstatic.com/gb/images/sprites/p_2x_fe9d42831185.png");
    border-radius: 1rem;
    height: 5rem;
    width: 5rem;
    padding: 0.25rem;
    margin: 0px 5px 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.footer-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-button,
.footer-button:visited {
    color: #f7f7f7;
    background: rgba(83, 83, 83, 0.44);
    border-radius: 40px;
    padding: 10px 15px;
    margin-right: 0.5rem;
}
