.clock-title {
    font-size: 13px;
}

.clock-wrapper {
    background-color: var(--light-gray);
    min-height: 54px;
}

.input-switch-wrapper {
    width: 75px;
}

.input-switch-wrapper .p-inputswitch .p-inputswitch-slider {
    width: 61px;
    height: 30px;
    background-color: var(--black-gray);
}

.input-switch-wrapper .p-inputswitch .p-inputswitch-slider:before {
    color: black;
    content: "Off";
    font-size: 10px;
    width: 32px;
    border-radius: 48px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-switch-wrapper
    .p-inputswitch.p-inputswitch-checked
    .p-inputswitch-slider:before {
    background-color: var(--blue);
    color: #ffffff;
    content: "On";
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-switch-wrapper
    .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
    .p-inputswitch-slider {
    background-color: var(--black-gray);
}

.input-switch-wrapper
    .p-inputswitch:not(.p-disabled):hover
    .p-inputswitch-slider {
    background-color: var(--black-gray);
}
