body {
    background: #323232;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --white: white;
    --blue: #698feb;
    --black-gray: #2b2b2b;
    --dark-gray: #454545;
    --gray: rgba(83, 83, 83, 0.66);
    --light-gray: #535353;
    --white-gray: #8b8b8b;
    --matte-transparent: rgba(209, 209, 209, 0.11);
}
